[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pyflowchart = "*"
jieba = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
sqlalchemy = "*"
jupyterlab = "*"
psycopg2 = "*"
scikit-learn = "*"
torch = "*"
torchvision = "*"
tensorboardx = "*"
opencv-python = "*"
aiohttp = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
